*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: "Open Sans", sans-serif !important;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.joystick {
    position: fixed;
    width: 150px;
    height: 150px;
    bottom: 20px;
    z-index: 99999;
}

#joystick-move {
    left: 20px;
}

#joystick-look {
    right: 20px;
}

#dialogs {
    width: 80%;
    position: absolute;
    bottom: 6vh;
    z-index: 999999;
    background-color: transparent;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 20px;
    text-align: center;
    user-select: none;
}